<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }
      .card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 600px;
        margin: 20px auto;
      }
      .card h2 {
        color: #333333;
        font-size: 24px;
        margin-bottom: 10px;
      }
      .card p {
        color: #666666;
        font-size: 16px;
        line-height: 1.6;
      }
      .card img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
      }
      .card a {
        display: inline-block;
        background-color: #3498db;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 10px;
      }
    </style>

{% extends 'base.html' %}

{% load static %}

{% block body %}

<br>
<br>
<br>
<br>

<div class="card">
    <img src="https://via.placeholder.com/300" alt="Image">
    <h2>{{formation_detail.title}}</h2>
    <p>{{formation_detail.description}}.</p>
    <a href="#">Learn More</a>
  </div>
  
<br>
<br>
<br>
{% endblock body %}